# Homework 5, Part 1: Building a pandas cheat sheet

**Use `animals.csv` to answer the following questions.** The data is small and the questions are pretty simple, so hopefully you can use this for pandas reference in the future.

## 0) Setup

Import pandas **with the correct name**.

In [71]:
import pandas as pd

## 1) Reading in a csv file

Use pandas to read in the animals CSV file, saving it as a variable with the normal name for a dataframe

In [2]:
df = pd.read_csv("animals.csv")

## 2) Checking your data

Display the number of rows and columns in your data. Also display the names and data types of each column.

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   animal  7 non-null      object
 1   name    7 non-null      object
 2   length  7 non-null      int64
dtypes: int64(1), object(2)
memory usage: 296.0+ bytes

In [3]:
df.columns

Index(['animal', 'name', 'length'], dtype='object')

In [8]:
df.dtypes

animal    object
name      object
length     int64
dtype: object

## 3) Display the first 3 animals

Hmmm, we know how to take the first 5, but maybe the first 3. Maybe there is an option to change how many you get? Use `?` to check the documentation on the command.

In [9]:
df.head(3)

  animal        name  length
0    cat        Anne      35
1    cat         Bob      45
2    dog  Egglesburg      65

## 4) Sort the animals to show me the 3 longest animals

> **TIP:** You can use `.head()` after you sort things!

In [10]:
df.head(3).sort_values(by='length')

  animal        name  length
0    cat        Anne      35
1    cat         Bob      45
2    dog  Egglesburg      65

## 5) Get the mean and standard deviation of animal lengths

You can do this with separate commands or with a single command.

In [13]:
df.length.mean()

38.857142857142854

In [21]:
df.length.std()

17.101935284528196

## 6) How many cats do we have and how many dogs?

You only need one command to do this

In [26]:
df['animal'].count()

7

## 7) Only display the dogs

> **TIP:** It's probably easiest to make it display the list of `True`/`False` first, then wrap the `df[]` around it.

In [31]:
df.animal == "dog"

0    False
1    False
2     True
3     True
4    False
5     True
6    False
Name: animal, dtype: bool

In [32]:
df[df.animal == "dog"]

  animal        name  length
2    dog  Egglesburg      65
3    dog       Devon      50
5    dog    Fontaine      35

## 8) Only display the animals that are longer than 40cm

In [33]:
df[(df.animal == "dog") & (df.length > 40)]

  animal        name  length
2    dog  Egglesburg      65
3    dog       Devon      50

## 9) `length` is the animal's length in centimeters. Create a new column called `inches` that is the length in inches.

In [34]:
df['inches'] = df.length * 0.393701
df.head()

  animal        name  length     inches
0    cat        Anne      35  13.779535
1    cat         Bob      45  17.716545
2    dog  Egglesburg      65  25.590565
3    dog       Devon      50  19.685050
4    cat     Charlie      32  12.598432

## 10) Save the cats to a separate variable called `cats`. Save the dogs to a separate variable called `dogs`.

This is the same as listing them, but you just save the result to a variable instead of looking at it. Be sure to use `.head()` to make sure your data looks right.

Once you do this, every time you use `cats` you'll only be talking about the cats, and same for the dogs.

In [59]:
cats = df[(df.animal == 'cat')]

In [ ]:
dog = df[(df.animal == 'cat')]

## 11) Display all of the animals that are cats and above 12 inches long.

First do it using the `cats` variable, then also do it using your `df` dataframe.

> **TIP:** For multiple conditions, you use `df[(one condition) & (another condition)]`

In [66]:
df[(df.animal == "cat") & (df.inches > 12)]

  animal     name  length     inches
0    cat     Anne      35  13.779535
1    cat      Bob      45  17.716545
4    cat  Charlie      32  12.598432

## 12) What's the mean length of a cat? What's the mean length of a dog?

In [64]:

df.groupby('animal').length.mean()

animal
cat    30.5
dog    50.0
Name: length, dtype: float64

In [70]:
df.groupby[df.animal == 'cat'].length.mean()

TypeError: 'method' object is not subscriptable

## 13) If you didn't already, use `groupby` to do #12 all at once

## 14) Make a histogram of the length of dogs.

We didn't talk about how to make a histogram in class! It **does not** use `plot()`. Imagine you're a programmer who doesn't want to type out `histogram` - what do you think you'd type instead?

> **TIP:** The method is four letters long
>
> **TIP:** First you'll say "I want the length column," then you'll say "make a histogram"
>
> **TIP:** This is the worst histogram ever

In [45]:
import matplotlib

In [46]:
df[df.animal == "dog"].length.hist

<bound method hist_series of 2    65
3    50
5    35
Name: length, dtype: int64>

## 15) Make a horizontal bar graph of the length of the animals, with the animal's name as the label

> **TIP:** It isn't `df['length'].plot()`, because it needs *both* columns. Think about how we did the scatterplot in class.
>
> **TIP:** Which is the `x` axis and which is the `y` axis? You'll notice pandas is kind of weird and wrong.
>
> **TIP:** Make sure you specify the `kind` of graph or else it will be a weird line thing
>
> **TIP:** If you want, you can set a custom size for your plot by sending it something like `figsize=(15,2)`

## 16) Make a sorted horizontal bar graph of the cats, with the larger cats on top

> **TIP:** Think in steps, even though it's all on one line - first make sure you can sort it, then try to graph it.

In [18]:
f.sort_values(by='length') \
    .plot(
        x='cat',
        y='length',
        figsize=(5, 35),
        kind='bar'

SyntaxError: unexpected EOF while parsing (<ipython-input-18-c86ea7cfa8b3>, line 6)

## 17) As a reward for getting down here: run the following code, then plot the number of dogs vs. the number of cats

> **TIP:** Counting the number of dogs and number of cats does NOT use `.groupby`! That's only for calculations.
>
> **TIP:** You can set a title with `title="Number of animals"`

In [43]:
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')